<?xml version="1.0" encoding="utf-8"?>
<manifest
package="microphone.muter"
xmlns:android="http://schemas.android.com/apk/res/android"
android:versionCode="1"
android:versionName="angry-alligator"
>

<uses-sdk
android:minSdkVersion="25"
android:targetSdkVersion="29"
/>

<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>

<application
android:label="Mute Microphone"
android:icon="@drawable/muted_microphone"
android:theme="@android:style/Theme.Translucent.NoTitleBar"
>

<activity android:name=".Main">
<intent-filter>
<action android:name="android.intent.action.MAIN"/>
<category android:name="android.intent.category.LAUNCHER"/>
</intent-filter>
</activity>

<service android:name=".MicrophoneMuter"/>

</application>

</manifest>
